<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div id="map" style="width: 100%; height: 500px;"></div>
    <script>
    var map = L.map('map').setView([21.505, -0.09], 2);

    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 18,
    attribution: 'Map data © OpenStreetMap contributors'
    }).addTo(map);



    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18
    // ,
    // id: 'mapbox.streets',
    // accessToken: 'your.mapbox.access.token'
}).addTo(map);

    L.marker([-29.5495,28.1851]).addTo(map).bindPopup("<b>Lesotho 1993</b><br /><a href='http://www.borders-exploration-group.org.uk/expeditions/lesotho/'>Find out more...</>").openPopup();
    L.marker([-0.1500,-78.3500]).addTo(map).bindPopup("<b>Ecuador 1995</b><br /><a href='http://www.borders-exploration-group.org.uk/expeditions/ecuador/'>Find out more...</>").openPopup();
    L.marker([-0.4252,36.7517]).addTo(map).bindPopup("<b>Kenya 1997</b><br /><a href='http://www.borders-exploration-group.org.uk/expeditions/kenya/'>Find out more...</>").openPopup();
    L.marker([47.7694,100.1790]).addTo(map).bindPopup("<b>Mongolia 1999</b><br /><a href='http://www.borders-exploration-group.org.uk/expeditions/mongolia/'>Find out more...</>").openPopup();
    L.marker([21.7679,78.8718]).addTo(map).bindPopup("<b>India 2001</b><br /><a href='http://www.borders-exploration-group.org.uk/expeditions/india/'>Find out more...</>").openPopup();
    L.marker([45.7909,24.7731]).addTo(map).bindPopup("<b>Romania 2002</b><br /><a href='http://www.borders-exploration-group.org.uk/expeditions/romania/'>Find out more...</>").openPopup();
    L.marker([-11.2583,-75.1374]).addTo(map).bindPopup("<b>Peru 2003</b><br /><a href='http://www.borders-exploration-group.org.uk/expeditions/peru/'>Find out more...</>").openPopup();
    L.marker([43.3222,-0.761007]).addTo(map).bindPopup("<b>Pyrenees 2004</b><br /><a href='http://www.borders-exploration-group.org.uk/expeditions/pyrenees/'>Find out more...</>").openPopup();
    L.marker([15.4549,106.5760]).addTo(map).bindPopup("<b>Vietnam 2005</b><br /><a href='http://www.borders-exploration-group.org.uk/expeditions/vietnam/'>Find out more...</>").openPopup();
    L.marker([60.3800,5.3400]).addTo(map).bindPopup("<b>Norway 2006</b><br /><a href='http://www.borders-exploration-group.org.uk/expeditions/norway/'>Find out more...</>").openPopup();
    L.marker([-13.7195,28.2433]).addTo(map).bindPopup("<b>Zambia 2007</b><br /><a href='http://www.borders-exploration-group.org.uk/expeditions/zambia/'>Find out more...</>").openPopup();
    L.marker([51.4273,20.1726]).addTo(map).bindPopup("<b>Poland 2008</b><br /><a href='http://www.borders-exploration-group.org.uk/expeditions/poland/'>Find out more...</>").openPopup();
    L.marker([-35.1234,-71.5720]).addTo(map).bindPopup("<b>Chile 2010</b><br /><a href='http://www.borders-exploration-group.org.uk/expeditions/chile/'>Find out more...</>").openPopup();
    L.marker([49.2144,30.2937]).addTo(map).bindPopup("<b>Ukraine 2011</b><br /><a href='http://www.borders-exploration-group.org.uk/expeditions/ukraine/'>Find out more...</>").openPopup();
    L.marker([22.0289,-79.9370]).addTo(map).bindPopup("<b>Cuba 2012</b><br /><a href='http://www.borders-exploration-group.org.uk/expeditions/cuba/'>Find out more...</>").openPopup();
    L.marker([-12.8383,33.4429]).addTo(map).bindPopup("<b>Malawi 2014</b><br /><a href='http://www.borders-exploration-group.org.uk/expeditions/malawi/'>Find out more...</>").openPopup();
    L.marker([47.074867,12.69525]).addTo(map).bindPopup("<b>Austria 2015</b><br /><a href='http://www.borders-exploration-group.org.uk/expeditions/austria/'>Find out more...</>").openPopup();
    L.marker([-17.479966,-64.377500]).addTo(map).bindPopup("<b>Bolivia 2017</b><br /><a href='http://www.borders-exploration-group.org.uk/expeditions/bolivia/'>Find out more...</>").openPopup();
    L.marker([-13.8383,34.4429]).addTo(map).bindPopup("<b>Malawi 2019</b><br /><a href='http://www.borders-exploration-group.org.uk/expeditions/malawi-2018/'>Find out more...</>").openPopup();

    var popup = L.popup();
    </script>



    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            <li>Patron: Sir Michael Strang Steel</li>
            <li>Scottish Charity No: SC034336</li>
            <li><a href="/contact/">Contact</a></li>
            <li><a href="/privacy-cookies/">Privacy & Cookies</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
